
.base {
    height: 100%;
    width: 100%;
    /* margin-top: 0px; */
}

.full-container {
    width: 100%;
    height: 100%;
}

.block {
    width: 100%;
}

.pd-5 {
    padding: 5px;
}

.scroll-y {
    overflow-y: auto;
}

.mt-10 {
    margin-top: 10px;
}

.mt--5 {
    margin-top: -5px;
}